---
apiVersion: v1
kind: Pod
metadata:
  name: {{ .Release.Name }}-nginx-pod
  labels:
    app: nginx
spec:
  containers:
    - name: {{ .Release.Name }}-nginx
      image: nginx:latest
      ports:
        - containerPort: 80

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-nginx-service
  annotations:
    output_url: "url|$.status.loadBalancer.ingress[0].hostname"
  labels:
    release: {{ .Release.Name }}
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer

---
apiVersion: batch/v1
kind: Job
metadata:
  name: monitor-resource-job-{{ .Release.Name }}
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed
spec:
  template:
    spec:
      serviceAccountName: monitor-resource-sa
      restartPolicy: Never
      containers:
        - name: monitor-resource
          image: 810918108393.dkr.ecr.eu-south-1.amazonaws.com/monitor-resource:latest
          imagePullPolicy: Always
          command: ["java", "-jar", "/app/app.jar"]
          args:
            - "--custom-arg1=value1"
            - "--custom-arg2=value2"
          env:
            - name: MAX_TIMEOUT
              value: "300"
            - name: RELEASE_NAME
              value: {{ .Release.Name }}

